body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #c00707;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #2c3e50;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;
    display: block;
    border: 4px solid #3498db;
}
nav {
    margin-bottom: 30px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: #3498db;
    margin: 0 10px;
}

nav a:hover {
    color: #2c3e50;
    text-decoration: underline;
}


        


        

